


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Vollkorn:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bariloche.css">
       
    <title>Destacados destinos turísticos en Argentina</title>
</head>

<body>
 

<div class="título">
    <h3>Opciones de alojamiento en San Carlos de Bariloche</h3>
    </div>
    
    
      <div class="card">
        <img src="{% static './img/BRC Departamento Vivi -422916059-.jpg' %}" alt="Vivi" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Departamento Vivi</h3>
          <p class="card-text">Departamento céntrico con 1 dormitorio, ubicado a menos de 1 km del centro cívico de Bariloche.</p>
          <p>Precio por noche <b>$ 17.500.-</b><br> 
             Incluye impuestos y cargos</p>
        </div>
      </div> 

      <br><br>

      <div class="card">
      <img src ="{% static './img/BRC Estancia del Carmen Mountain Resort -125188744-.jpg' %}" alt="DelCarmen" width="250" height="167"/> 
     
        <div class="card-body">
          <h3 class="card-title">Estancia del Carmen Mountain Resort</h3>
          <p class="card-text">Rodeado de bosques y montañas, el resort se encuentra frente al Lago Gutiérrez a sólo 10 km de Bariloche.</p>
          <p>Precio por noche <b>$ 35.000.-</b><br>en habitación doble.<br> 
             Incluye impuestos y cargos</p>
        </div>
      </div>      

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="{% static './img/BRC Home Patagonia Hostel -461167802-.jpg' %}" alt="Hopa" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Home Patagonia Hostel & Bar</h3>
          <p class="card-text">Confortable hostel ubicado a 700 mts del centro de la ciudad.</p>
          <p>Precio por noche <b>$ 27.000-</b><br>
             Incluye impuestos y cargos</p>
        </div>
      </div>            

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/BRC La Casa -420862939-.jpg" alt="Costanera" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">La Casa </h3> 
          <p class="card-text">Casa sustentable y ecológica, ubicada a 14 km del Centro Cívico. Ideal para 2 personas.</p>
          <p>Precio por noche <b>$ 22.500.-</b><br> 
             Incluye impuestos y cargos</p>
        </div>
      </div>     

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/BRC Los Alelies B&B -333826431-.jpg" alt="Pinares" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Los Alelíes B&B</h3>
          <p class="card-text">Ubicado a 1 km del centro de Bariloche, este Bed & Breakfast se enmarca en un paisaje ideal para el descanso.</p>
          <p>Precio por noche <b>$ 17.500.-</b><br> en habitación doble.<br>  
             Incluye impuestos y cargos</p>
        </div>
      </div>   

