


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Vollkorn:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/carlospaz.css">
      
    <title>Destacados destinos turísticos en Argentina</title>
</head>

<body>
 

<div class="título">
    <h3>Opciones de alojamiento en Villa Carlos Paz</h3>
    </div>
    
    
      <div class="card" style="width: 18rem;">
        <img src="img/VCP Jazmines -445386129-.jpg" alt="Jazmines" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Departamento Jazmines</h3>
          <p class="card-text">Amplio y cómodo departamento con capacidad para 5 personas, ubicado a sólo 450 mts del centro de Villa Carlos Paz.</p>
          <p>Precio por noche <b>$ 22.777.-</b><br> 
             Incluye impuestos y cargos</p>
        </div>
      </div> 

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/VCP Ensueño -441163818-.jpg" alt="Ensueño" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Chalet de montaña Ensueño</h3>
          <p class="card-text">Confortable chalet de montaña de 140m² con capacidad para 5 personas, ubicado a 2 km del centro de Villa Carlos Paz.</p>
          <p>Precio por noche <b>$ 26.320.-</b><br>
             Incluye impuestos y cargos</p>
        </div>
      </div>      

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/VCP Feliza Hostel -179954910-.jpg" alt="Feliza" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Feliza Hostel</h3>
          <p class="card-text">Acogedor hostel ubicado a 600 mts del centro de Villa Carlos Paz.</p>
          <p>Precio por noche <b>$ 10.819.-</b><br> en habitación doble.<br>
             Incluye impuestos y cargos</p>
        </div>
      </div>            

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/VCP Costanera Fantasio -394287374-.jpg" alt="Costanera" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Costanera Fantasio</h3>
          <p class="card-text">Espectacular y amplia casa de 4 habitaciones con piscina privada, ubicada a 2,5 km del centro de Villa Carlos Paz.</p>
          <p>Precio por noche <b>$ 102.013.-</b><br> 
             Incluye impuestos y cargos</p>
        </div>
      </div>     

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/VCP Pinares Panorama Suites & Spa -407868947-.jpg" alt="Pinares" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Pinares Panorama Suites & Spa</h3>
          <p class="card-text">El Pinares Panorama se encuentra en una zona tranquila de Villa Carlos Paz <br> y ofrece habitaciones elegantes y sofisticadas.</p>
          <p>Precio por noche <b>$ 46.848.-</b><br>en habitación doble.<br> 
             Incluye impuestos y cargos</p>
        </div>
      </div>   

      <br><br>

      <div class="card mb-3" style="max-width:none">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="img/VCP Pinares Panorama Suites & Spa -407868947-.jpg" class="img-fluid rounded-start" alt="Pinares" width="400" height="267"/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Pinares Panorama Suites & Spa</h3>
              <p class="card-text">El Pinares Panorama se encuentra en una zona tranquila de <br> Villa Carlos Paz y ofrece habitaciones elegantes y sofisticadas.</p>
              <p>Precio por noche <b>$ 46.848.-</b> en habitación doble.</p>
              <p class="card-text"><small class="text-muted">Incluye impuestos y cargos</small></p>
            </div>
          </div>
        </div>
      </div>   


      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="img/VCP Costanera Fantasio -394287374-.jpg" class="img-fluid rounded-start" alt="..." width="400" height="267"/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Costanera Fantasio</h3>
              <p class="card-text">Espectacular y amplia casa de 4 habitaciones con piscina privada, <br> ubicada a 2,5 km del centro de Villa Carlos Paz.</p>
              <p class="card-text"><medium class="text-muted">Precio por noche <b>$ 102.013.-</b> <br> 
                Incluye impuestos y cargos</medium></p>
            </div>
          </div>
        </div>
      </div>

  
  </body>