<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Vollkorn:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">  
    <title>Highlights Argentina 2023</title>
    
</head>

<body>
   
    <h2>DESTINOS TURÍSTICOS DE ARGENTINA</h2> 

    <h3>Los destinos más visitados en 2023 y sus opciones de alojamiento<h3> 
    
    <div class= "container">
     <img src="../static/img/Bariloche.png" alt="BRC" width="600" height="401"/>
    </div>
         <h3>Para encontrar su alojamiento ideal en Bariloche</h3>      
        <div style="text-align: center;"><a href="/bariloche" class="btn">Haga click aquí</a>
        </div>
<br><br>

    <div class= "container">    
         <img src="../static/img/Salta.png" alt="SLA" width="600" height="401"/>
    </div> 
         <h3>Para encontrar su alojamiento ideal en Salta</h3>      
        <div style="text-align: center;">
        <a href="/salta" class="btn">Haga click aquí</a>
        </div>

<br><br>

    <div class= "container">
         <img src="static/img/Villa Carlos Paz.png" alt="VCP" width="600" height="401"/>
    </div>
         <h3>Para encontrar su alojamiento ideal en Villa Carlos Paz</h3>      
        <div style="text-align: center;"><a href="/carlospaz" class="btn">Haga click aquí</a>
        </div>
 
</body>        




    