<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Vollkorn:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bariloche.css">
     
    <title>Destacados destinos turísticos en Argentina</title>
</head>

<body>
 

<div class="título">
    <h3>Opciones de alojamiento en Salta</h3>
    </div>
    
    
      <div class="card" style="width: 18rem;">
        <img src="img/SLA Ferienhaus Hostel -373882019-.jpg" alt="Ferienhaus" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Ferienhaus Hostel Salta</h3>
          <p class="card-text">Hostel ubicado a sólo 100 mts de la plaza principal de Salta.</p>
          <p>Precio por noche <b>$ 9.917.-</b><br> 
             Incluye impuestos y cargos</p>
        </div>
      </div> 

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/SLA Distrito FMA Coliving -469178330-.jpg" alt="FMA" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Distrito A FMA Coliving</h3>
          <p class="card-text">Confortable departamento céntrico <br> que cuenta con 1 dormitorio. <br> Está ubicado a 11 km. del aeropuerto <br> de Salta.</p>
          <p>Precio por noche <b>$ 28.823.-</b><br> 
             Incluye impuestos y cargos</p>
        </div>
      </div>      

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/SLA Hotel del Antiguo Convento -220231109-.jpg" alt="Convento" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Hotel del Antiguo Convento</h3>
          <p class="card-text">Antigua casona salteña convertida en hotel, se encuentra a sólo 600 mts del centro de la ciudad.</p>
          <p>Precio por noche <b>$ 56.384-</b><br> en habitación doble.<br> 
             Incluye impuestos y cargos</p>
        </div>
      </div>            

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/SLA Casa Vacacional -471701335-.jpg" alt="Casa" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Casa Vacacional Salta</h3> 
          <p class="card-text">Casa ubicada a 10 km del centro de la ciudad. Cuenta con 3 habitaciones.</p>
          <p>Precio por noche <b>$ 34.923.-</b><br> 
             Incluye impuestos y cargos</p>
        </div>
      </div>     

      <br><br>

      <div class="card" style="width: 18rem;">
        <img src="img/SLA Caseros 44 B&B -388032618-.jpg" alt="Caseros" width="250" height="167"/> 
        <div class="card-body">
          <h3 class="card-title">Caseros 44 B&B</h3>
          <p class="card-text">Ubicado a 700 mts del centro de la ciudad, este Bed & Breakfast es altamente recomendable.</p>
          <p>Precio por noche <b>$ 17.909.-</b><br> en habitación doble.<br>  
             Incluye impuestos y cargos</p>
        </div>
      </div>   